<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    .svg-white img {
      filter: invert(1) brightness(2);
      width: 50px;
      height: 50px;
    }
    .custom-black a {
      color: black !important;
    }
  </style>
</head>
<div class="navbar bg-black text-white">
  <div class="navbar-start">
    <div class="dropdown">
      <button tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </button>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-10 p-2 shadow bg-white rounded-box w-52">
        <li class="custom-black"><a href="/">Home</a></li>
        <li class="custom-black"><a href="/news">News</a></li>
        <li class="custom-black"><a href="/stock">Stock</a></li>
        <li class="custom-black"><a href="/about">About</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-3xl content-center text-white">
      MarketPulse
      <div class="svg-white">
        <img src="/image/image1.svg" alt="Image Description" />
      </div>
    </a>
    
  </div>
  <div class="navbar-center hidden lg:flex font-bold">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/stock">Stock</a></li>
      <li><a href="/projector">Stock Projector</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn text-lg bg-black border-black ">
      <i class="fas fa-ellipsis-h text-white"></i>
    </a>
  </div>
</div>
